{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

<div id="section" class="section level2">
<h2></h2>
<p>Welcome to the Urban Institute Python Users Group website. This website 
    contains resources for using Python at the Urban Institute for general 
    programming, data analysis, and more.</p>
<p>Please don’t hesitate to contact 
    Kyle Ueyama (<a href="mailto:kueyama@urban.org">kueyama@urban.org</a>) 
    with any thoughts or questions about Python at the Urban Institute.</p>
</div>
<div id="section-2" class="section level3">
<h3></h3>
<center>
<iframe width="600" height="500" frameborder="0" src="https://app.smartsheet.com/b/form/209d20b35be54be89c74fed3dc99c692">
</iframe>
</center>
</div>


<ol id="post-list">
{% for article in articles_page.object_list %}
        <li><article class="hentry">
                <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <footer class="post-info">
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                    <address class="vcard author">By
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                    {% endfor %}
                    </address>
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
